*
{
	margin:0;
	padding:0;
}
body
{
	font-family: 'Roboto', sans-serif;
	background: -webkit-linear-gradient(to left, #EAECC6, #2BC0E4);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #EAECC6, #2BC0E4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
	background-size: 400% 400%;
	-webkit-animation: Gradient 20s ease infinite;
	-moz-animation: Gradient 20s ease infinite;
	animation: Gradient 20s ease infinite;
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}
#container
{
	width: 460px;
	margin:100px auto;
	background: #f7f7f7;
	box-shadow: 0 0 3px rgba(0,0,0,0.3);
}
#container h1
{
	background: #2980e9;
	color: white;
	margin:0;
	padding:10px 20px;
	text-transform: uppercase;
	font-weight: normal;
}
@media(max-width:768px)
{	
	#container
	{
		width: 90%;
		margin:100px auto;
		background: #f7f7f7;
		box-shadow: 0 0 3px rgba(0,0,0,0.3);
	}
}
.fa-plus
{
	float:right;
}
.fa-plus:hover
{
	color:#0bda0b;
}
#container input
{
	font-size:18px;
	background: #e1efff;

	width:100%; 
	box-sizing: border-box;
	padding:13px 13px 13px 20px;
	color: #2980e9;
	border: 3px solid rgba(0,0,0,0);
}
input:focus
{
	background: white !important;
	border: 3px solid #2980e9;
	outline: none;
}
ul
{
	margin:0;
	padding:0;
	list-style:none;
}
ul li
{
	background: #fff;
	min-height: 40px;
	line-height: 40px;
	color: #666;
}
ul li:nth-child(2n)
{
	background: #f7f7f7;
}
span
{
	background: #e74c3c;
	height:40px;
	margin-right: 20px;
	text-align:center;
	color:white;
	width: 0;
	display: inline-block;
	transition: 0.2s linear;
	opacity: 0;
}
li:hover span
{
	width: 40px;
	opacity: 1;
}
.completed
{
	color:gray;
	text-decoration: line-through;
}